In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error

In [3]:
df = pd.read_csv('datasets/SPY.csv', index_col='Date', parse_dates=True)

In [4]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [5]:
df['ClosePrediction'] = df['Close'].shift(1)

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [7]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

## Metrics

Main idea: get a feel for how the values relate to one another. What's "good"? What's "bad"? If the 
R
2
 is "good", will the MAE also be "good"?

In [8]:
# SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.374289492605

In [9]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [10]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

C:\Users\ASUS TUF\.conda\envs\proyecto_machin_learning\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

1.672893886787562

In [11]:
# RMSE again
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.672893886787562

In [12]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [13]:
# R^2
# Wow, what a great prediction!
# Why is it so good? Be suspicious...
r2_score(y_true, y_pred)

0.9989603259063914

In [14]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

## sMAPE
E
=
1
N
N
∑
i
=
1
 
|
y
i
−
^
y
i
|
(
|
y
i
|
+
|
^
y
i
|
)
/
2

In [15]:
# sMAPE
# Not implemented, oh well...
# Good thing we are brave and know how to implement things!
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(y_true, y_pred)

0.006491365814068417